<div class="game-board">

  <div class="hand-zone">
    <div class="cards-fan">
      @for (card of getPlayerHand(); track card.id; let i = $index) {
      <button class="tock-card playable-card" [class.selected]="selectedCardIndex() === i"
        [class.is-red]="card.suit === '♥' || card.suit === '♦'" (click)="onCardSelected(i)">
        <div class="card-inner">
          <span class="card-value">{{ card.value }}</span>
          <span class="card-suit">{{ card.suit }}</span>
        </div>
      </button>
      } @empty {
      <div class="empty-hand">Your hand is empty</div>
      }
    </div>
  </div>


  <!-- Footer -->
  <div class="control-dashboard glass-panel">
    <div class="dashboard-grid">

      <div class="player-profile">
        <div class="avatar" [style.background-color]="getPlayerColor()"></div>
        <div class="player-info">
          <span class="label">Playing now</span>
          <strong>{{ getPlayerName() }}</strong>
        </div>
      </div>

      <button class="action-btn" [disabled]="!canConfirm()" (click)="confirmMove()">
        Confirm
      </button>

    </div>
  </div>

</div>