html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
}

* {
  -webkit-tap-highlight-color: transparent;
  /* Supprime le rectangle bleu */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Sécurité pour certains navigateurs */
}