.grid-container {
    --ion-safe-area-top: 0px;
    --ion-safe-area-bottom: 0px;
    --ion-safe-area-left: 0px;
    --ion-safe-area-right: 0px;
    height: calc(100vh - 56px);
    overflow: hidden;
}

// Empêcher le scroll horizontal sur mobile
ion-content {
    --overflow: hidden;
}